@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kalpurush;
  src: url(../src/assets/fonts/kalpurush.ttf);
}

body {
  margin: 0;
  scroll-behavior: smooth !important;
  background-color: #f6f6f6;
  font-family: kalpurush, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------To remove arrows from number field--------------------- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
